<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Получение информации из Единого государственного регистра юридических лиц и индивидуальных предпринимателей</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Получение информации из Единого государственного регистра юридических лиц и индивидуальных предпринимателей"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<ul>
  <li><a href="{% static 'nwnd/documents/document2.pdf' %}">18.18 Предоставление информации из Единого государственного регистра юридических лиц и индивидуальных предпринимателей </a></li>
    </ul>
<a href = "{% url 'procedures'%} " class = "nwnd0-button btn btn-primary back-button">Назад</a>

</body>
</html>