<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Получение информации из архивных документов</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Получение информации из архивных документов"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<ul>

  <li><a href="{% static 'nwnd/documents/document2.pdf' %}">18.25.1 Выдача архивной справки (архивной копии, архивной выписки, информационного письма) по запросам социально-правового характера (составляется на основе архивных документов, не содержащих сведений, относящихся к личной тайне граждан), касающимся имущественных и наследственных прав граждан </a></li>
  <li><a href="{% static 'nwnd/documents/document2.pdf' %}">18.25.2 Выдача архивной справки (архивной копии, архивной выписки, информационного письма) по запросам социально-правового характера (составляется на основе архивных документов, не содержащих сведений, относящихся к личной тайне граждан), не касающимся имущественных и наследственных прав граждан </a></li>
  <li><a href="{% static 'nwnd/documents/document2.pdf' %}">18.26 Выдача архивной справки (архивной копии, архивной выписки) по запросам социально-правового характера, касающимся архивных документов, содержащих сведения, относящиеся к личной тайне граждан </a></li>
    </ul>

<a href = "{% url 'procedures'%} " class = "nwnd0-button btn btn-primary back-button">Назад</a>

</body>
</html>