<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Документы,подтверждающие право на социальные льготы</title>
  {% load static %}
</head>
<body>
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<h1>Административные процедуры по заявлениям граждан в сфере "Документы,подтверждающие право на социальные льгот"</h1>
<ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">3.2 Выдача удостоверения инвалида Отечественной войны </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">3.3 Выдача удостоверения инвалида о праве на льготы для инвалидов боевых действий на территории других государств, а также граждан, в том числе уволенных в запас (отставку), из числа военнослужащих, лиц начальствующего и рядового состава органов внутренних дел, органов и подразделений по чрезвычайным ситуациям, органов финансовых расследований Комитета государственного контроля, сотрудников Следственного комитета, ставших инвалидами вследствие ранения, контузии, увечья или заболевания, полученных при исполнении обязанностей военной службы (служебных обязанностей) </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">3.4 Выдача удостоверения о праве на льготы лицам, награжденным орденами или медалями СССР за самоотверженный труд и безупречную воинскую службу в тылу в годы Великой Отечественной войны </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">3.5 Выдача удостоверения лицам, работавшим в период блокады г. Ленинграда с 8 сентября 1941 г. по 27 января 1944 г. на предприятиях, в учреждениях и организациях города и награжденным медалью «За оборону Ленинграда», и лицам, награжденным знаком «Жителю блокадного Ленинграда» </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">3.6 Выдача удостоверения о праве на льготы родителям и не вступившей в новый брак супруге (супругу) военнослужащего, погибшего в годы Великой Отечественной войны, в странах, где велись боевые действия, или при исполнении обязанностей воинской службы (служебных обязанностей) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">3.7 Выдача справки о праве на льготы детям и другим иждивенцам, получающим пенсию по случаю потери кормильца за погибших (умерших) лиц, перечисленных в статье 22 Закона Республики Беларусь от 17 апреля 1992 г. № 1594-XII «О ветеранах» </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">3.8 Выдача удостоверения бывшего несовершеннолетнего узника мест принудительного содержания, удостоверения бывшего совершеннолетнего узника фашистских концлагерей, тюрем, гетто </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">3.9 Выдача удостоверения пострадавшего от катастрофы на Чернобыльской АЭС, других радиационных аварий </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">3.13(1) Выдача удостоверения национального образца инвалида боевых действий на территории других государств </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">3.15 Выдача удостоверения многодетной семьи </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">3.17 Выдача удостоверения о праве на льготы для лиц, работавших на объектах противовоздушной обороны, местной противовоздушной обороны, на строительстве оборонительных сооружений, морских баз, аэродромов и других военных объектов в пределах тыловых границ действующих фронтов, на прифронтовых участках железных и автомобильных дорог </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">3.18 Выдача удостоверения о праве на льготы для лиц из числа членов экипажей судов транспортного флота, интернированных в начале Великой Отечественной войны в портах других государств </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">. 3.20 Выдача вкладыша к удостоверению о праве на льготы для родителей, перечисленных в пункте 12 статьи 3 Закона Республики Беларусь от 14 июня 2007 г. № 239-З «О государственных социальных льготах, правах и гарантиях для отдельных категорий граждан» </a></li>
    </ul>
<a href = "{% url 'procedures'%} " class = "nwnd0-button btn btn-primary back-button">Назад</a>

</body>
</html>