<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TОбразование</title>
     {% load static %}
     <link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Образование"</h1>

 <ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.1.1 Выдача дубликата документа об образовании, приложения к нему, документа об обучении (в случае ликвидации организации и отсутствия правопреемника организации, прекращения деятельности индивидуального предпринимателя, выдавших документ) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.1.2 Выдача дубликата свидетельства о направлении на работу (в случае ликвидации организации и отсутствия правопреемника организации, выдавшей свидетельство) </a></li>
     <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.1.3 Выдача дубликата справки о самостоятельном трудоустройстве (в случае ликвидации организации и отсутствия правопреемника организации, выдавшей справку) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.1.5 Выдача дубликата удостоверения на право обслуживания потенциально опасных объектов (в случае ликвидации организации и отсутствия правопреемника организации, выдавшей удостоверение) </a></li>
     <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.2.1 Выдача в связи с изменением половой принадлежности документа об образовании, приложения к нему, документа об обучении (в случае ликвидации организации и отсутствия правопреемника организации, прекращения деятельности индивидуального предпринимателя, выдавших документ) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.2.2 Выдача в связи с изменением половой принадлежности свидетельства о направлении на работу (в случае ликвидации организации и отсутствия правопреемника организации, выдавшей свидетельство) </a></li>
     <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.2.3 Выдача в связи с изменением половой принадлежности справки о самостоятельном трудоустройстве (в случае ликвидации организации и отсутствия правопреемника организации, выдавшей справку) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.2.5 Выдача в связи с изменением половой принадлежности удостоверения на право обслуживания потенциально опасных объектов (в случае ликвидации организации и отсутствия правопреемника организации, выдавшей удостоверение) </a></li>
     <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.5 Выдача справки о том, что высшее, среднее специальное, профессионально-техническое образование получено на платной основе (в случае ликвидации учреждения образования и отсутствия правопреемника учреждения образования) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.6 Постановка на учет детей в целях получения ими дошкольного образования, специального образования на уровне дошкольного образования </a></li>
     <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.7 Выдача направления в учреждение образования для освоения содержания образовательной программы дошкольного образования, образовательной программы специального образования на уровне дошкольного образования, образовательной программы специального образования на уровне дошкольного образования для лиц с интеллектуальной недостаточностью </a></li>
    </ul>
<a href = "{% url 'procedures'%} " class = "nwnd0-button btn btn-primary back-button">Назад</a>

</body>
</html>