<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Финансы, деятельность по организации азартных игр и лотерей</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Физическая культура и спорт, туризм, культура"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
  <ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">14.11.2 Получение справки о расчетах по полученным из местного бюджета бюджетным займам, ссудам, исполненным гарантиям местных исполнительных и распорядительных органов </a></li>
    </ul>

<a href = "{% url 'juridical'%} " class = "back-button">Назад</a>

</body>
</html>