<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Опека, попечительство,патронаж.Эмапсинация</title>
       {% load static %}
    <link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Опека, попечительство, патронаж. Эмапсинация"</h1>
 <ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">4.1 Выдача акта обследования условий жизни кандидата в усыновители (удочерители) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">4.2 Назначение ежемесячных денежных выплат на содержание усыновленных (удочеренных) детей </a></li>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">4.3 Принятие решения об установлении опеки (попечительства) над совершеннолетним и назначении опекуна (попечителя) </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">4.4 Принятие решения об установлении опеки (попечительства) над несовершеннолетним и назначении опекуна (попечителя) </a></li>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">4.5 Принятие решения о выдаче родителю, опекуну (попечителю) предварительного разрешения (согласия) на совершение сделок, противоречащих интересам или влекущих уменьшение имущества ребенка, подопечного </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">4.6 Принятие решения о передаче ребенка (детей) на воспитание в приемную семью </a></li>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">4.7 Принятие решения о создании детского дома семейного типа </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">4.8 Принятие решения об установлении патронажа (назначении помощника) </a></li>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">4.9 Принятие решения об изменении фамилии несовершеннолетнего и собственного имени несовершеннолетнего старше 6 лет </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">4.10 Принятие решения об объявлении несовершеннолетнего полностью дееспособным (эмансипация) </a></li>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">4.11 Принятие решения об освобождении опекунов, попечителей от выполнения ими своих обязанностей </a></li>

    </ul>
<a href = "{% url 'procedures'%} " class = "nwnd0-button btn btn-primary back-button">Назад</a>

</body>
</html>