<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экономические отношения</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Экономические отношения"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">2.1.1 Установление норм расхода и (или) предельных уровней потребления топливно-энергетических ресурсов для юридических лиц с годовым суммарным потреблением топливно-энергетических ресурсов 300 тонн условного топлива и более и (или) юридических лиц, имеющих источники тепловой энергии производительностью от 0,5 Гкал/час и более </a></li>
    </ul>

<a href = "{% url 'juridical'%} " class = "back-button">Назад</a>

</body>
</html>