<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Охрана окружающей среды и природопользование</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Охрана окружающей среды и природопользование"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.8.1 Получение решения о предоставлении участка лесного фонда в аренду для заготовки живицы, второстепенных лесных ресурсов, побочного лесопользования </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.8.2 Получение решения о предоставлении участка лесного фонда для лесопользования в целях проведения культурно-оздоровительных, туристических, иных рекреационных, спортивно-массовых, физкультурно-оздоровительных или спортивных мероприятий </a></li>
    <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.9.1 Получение решения о предоставлении поверхностного водного объекта (его части) в обособленное водопользование для хозяйственно-питьевых, гидроэнергетических нужд или нужд обеспечения обороны с выдачей в установленном порядке государственного акта на право обособленного водопользования </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.10.1 Получение решения о предоставлении геологического отвода с выдачей в установленном порядке акта, удостоверяющего геологический отвод </a></li>
    <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.10.2 Получение решения о предоставлении горного отвода с выдачей в установленном порядке акта, удостоверяющего горный отвод </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">6.14.3 Включение в перечень лиц, имеющих право на сбыт и хранение рыболовных сетей, иных изготовленных с использованием сетематериалов орудий добычи рыбы или других водных животных и сетематериалов  </a></li>
    <li><a href="{% static 'nwnd/documents/document1.pdf' %}">6.34.1 Получение разрешения на удаление или пересадку объектов растительного мира </a></li>

    </ul>


<a href = "{% url 'juridical'%} " class = "back-button">Назад</a>

</body>
</html>