<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Государственная регистрация недвижимого имущества, прав на него и сделок с ним</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Государственная регистрация недвижимого имущества, прав на него и сделок с ним"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">

<ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">22.8 Принятие решения, подтверждающего приобретательную давность на недвижимое имущество, сведения о котором отсутствуют в едином государственном регистре недвижимого имущества, прав на него и сделок с ним </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">22.9 Принятие решения о возможности использования эксплуатируемого капитального строения по назначению в соответствии с единой классификацией назначения объектов недвижимого имущества </a></li>
    <li><a href="{% static 'nwnd/documents/document1.pdf' %}">22.9(1) Принятие решения о возможности изменения назначения капитального строения, изолированного помещения, машино-места по единой классификации назначения объектов недвижимого имущества без проведения строительно-монтажных работ </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">22.9(2) Принятие решения об определении назначения капитального строения (здания, сооружения), изолированного помещения, машино-места в соответствии с единой классификацией назначения объектов недвижимого имущества (за исключением эксплуатируемых капитальных строений (зданий, сооружений), изолированных помещений, машино-мест </a></li>
    <li><a href="{% static 'nwnd/documents/document1.pdf' %}">22.9(3) Принятие решения о возможности использования капитального строения, изолированного помещения или машино-места, часть которого погибла, по назначению в соответствии с единой классификацией назначения объектов недвижимого имущества </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">22.24 Выдача справки, подтверждающей возведение до 8 мая 2003 г. жилого дома (жилого изолированного помещения, иного строения), расположенного в городе или в сельском населенном пункте на предоставленном наследодателю в установленном порядке земельном участке, который при жизни наследодателя не был зарегистрирован в территориальной организации по государственной регистрации и не внесен в похозяйственную книгу сельского (поселкового) исполнительного и распорядительного органа, с указанием его фамилии, собственного имени, отчества, а также соответствие этого строения противопожарным, санитарным, экологическим, строительным и иным требованиям к недвижимому имуществу, установленным законодательством </a></li>
    <li><a href="{% static 'nwnd/documents/document1.pdf' %}">22.24(2)Выдача справки, подтверждающей эксплуатацию до 8 мая 2003 г. одноквартирного, блокированного жилого дома с хозяйственными и иными постройками или без них, квартиры в блокированном жилом доме, расположенных в сельской местности*** и возведенных на земельном участке, предоставленном гражданину в соответствии с законодательством об охране и использовании земель (если такие дом, квартира не внесены в похозяйственную книгу сельского (поселкового) исполнительного комитета) </a></li>
    </ul>

<a href = "{% url 'procedures'%} " class = "nwnd0-button btn btn-primary back-button">Назад</a>

</body>
</html>