<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Торговля, общественное питание, бытовое обслуживание населения, защита прав потребителей, рекламная деятельность и обращение вторичных ресурсов</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Торговля, общественное питание, бытовое обслуживание населения, защита прав потребителей, рекламная деятельность и обращение вторичных ресурсов"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.3.1 Согласование маршрута движения автомагазина, в котором предполагается розничная торговля алкогольными напитками на территории сельской местности </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.3.2 Согласование перечня товаров, обязательных к наличию для реализации в торговом объекте </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.5.1 Согласование проведения ярмарки </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.6.1 Согласование схемы рынка, в том числе с государственной ветеринарной службой, на размещение зооботанического рынка, рынка, на котором осуществляется продажа продовольственных товаров, в том числе сельскохозяйственной продукции </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.8.1 Согласование режима работы после 23.00 и до 7.00 торгового объекта, объекта общественного питания, в которых после 23.00 и до 7.00 осуществляется розничная торговля алкогольными, слабоалкогольными напитками и (или) пивом </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.8.5 Согласование режима работы после 23.00 и до 7.00 объекта бытового обслуживания </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.8(1).1 Согласование повышения отпускной цены на товары </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.8(1).2 Согласование установления отпускной цены на товары </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.8(2).1 Согласование товарообменных операций без поступления денежных средств  </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.9.1 Включение сведений о субъектах торговли, субъектах общественного питания, администрациях торговых центров, администрациях рынков, торговых объектах, объектах общественного питания, торговых центрах, рынках, интернет-магазинах, формах торговли, осуществляемых без использования торгового объекта, в Торговый реестр Республики Беларусь </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.9.3 Внесение изменения в сведения, включенные в Торговый реестр Республики Беларусь </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.9.5 Исключение сведений из Торгового реестра Республики Беларусь </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.12.1 Получение лицензии на розничную торговлю алкогольными напитками, табачными изделиями, нетабачными никотиносодержащими изделиями, жидкостями для электронных систем курения </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.12.2 Изменение лицензии на розничную торговлю алкогольными напитками, табачными изделиями, нетабачными никотиносодержащими изделиями, жидкостями для электронных систем курения </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.13.1 Получение разрешения на размещение средства наружной рекламы </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.13.2 Продление действия разрешения на размещение средства наружной рекламы </a></li>
  <li><a href="{% static 'nwnd/documents/document1.pdf' %}">8.13.3 Переоформление разрешения на размещение средства наружной рекламы </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">8.14.1 Согласование наружной рекламы, рекламы на транспортном средстве </a></li>
    </ul>
<a href = "{% url 'juridical'%} " class = "back-button">Назад</a>

</body>
</html>