<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Физическая культура и спорт, туризм, культура</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Физическая культура и спорт, туризм, культура"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">

  <ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">11.10.1 Получение удостоверения на право организации и проведения культурно-зрелищного мероприятия на территории Республики Беларусь организатором культурно-зрелищного мероприятия с участием только белорусских исполнителей, а также государственной организацией культуры при условии финансирования организации и проведения культурно-зрелищного мероприятия полностью либо частично за счет средств бюджета </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">11.10.2 Получение удостоверения на право организации и проведения культурно-зрелищного мероприятия на территории Республики Беларусь (кроме организаторов культурно-зрелищных мероприятий с участием только белорусских исполнителей, а также государственных организаций культуры при условии финансирования организаций и проведения культурно-зрелищных мероприятий полностью либо частично за счет средств бюджета) </a></li>
       <li><a href="{% static 'nwnd/documents/document1.pdf' %}">11.11.1 Согласование проведения соревнования по спортивному рыболовству в рыболовных угодьях фонда запаса </a></li>
        <li><a href="{% static 'nwnd/documents/document2.pdf' %}">11.12.1 Получение разрешения на эксплуатацию кинозала, иного специально оборудованного помещения (места), оснащенного кинооборудованием, и такого оборудования </a></li>
       <li><a href="{% static 'nwnd/documents/document1.pdf' %}">11.12(2).1 Принятие решения об осуществлении деятельности по оказанию услуг в сфере агроэкотуризма </a></li>
    </ul>
<a href = "{% url 'juridical'%} " class = "back-button">Назад</a>

</body>
</html>