<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация и связь</title>
</head>
<body>

<h1>Административные процедуры по заявлениям граждан в сфере "Информация и связь"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">4.7.1 Согласование ввода в эксплуатацию вновь создаваемой или реконструируемой оптоволоконной линии связи (за исключением расположенной внутри капитального строения (здания, сооружения) и абонентских линий электросвязи) </a></li>
    </ul>
<a href = "{% url 'juridical'%} " class = "back-button">Назад</a>

</body>
</html>