<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Транспорт</title>
</head>
<body>
<h1>Административные процедуры по заявлениям граждан в сфере "Транспорт"</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'nwnd/css/architecture.css' %}">
<ul>
        <li><a href="{% static 'nwnd/documents/document1.pdf' %}">15.19 Принятие решения о постановке граждан на учет нуждающихся в местах хранения транспортных средств </a></li>

    </ul>
<a href = "{% url 'procedures'%} " class = "nwnd0-button btn btn-primary back-button">Назад</a>

</body>
</html>