body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 60px;
    text-align: center;

}
h1{
 font-size: 75px;

  }

.container {
    display: flex;                     /* Используем Flexbox */
    justify-content: space-between;   /* Разделяем контейнеры по краям */
    margin-top: 300px;                 /* Отступ сверху для контейнера */
}

.left-container, .right-container {
    width: 35%;                       /* Ширина контейнеров */
    padding: 20px;                   /* Отступ внутри контейнеров */
    background-color: #fff;          /* Цвет фона для видимости */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для контейнеров */
    border-radius: 15px;             /* Закругленные углы */
    text-align: center;               /* Центрируем текст */
}

h2 {
    color: #333;
}

a {
    text-decoration: none;            /* Убираем подчеркивание */
    color: blue;                     /* Цвет ссылки */
    font-weight: bold;               /* Жирный текст */
    position: relative;
}

a::after {
    content: "";                     /* Псевдоэлемент для создания линии под ссылкой */
    display: block;
    width: 100%;
    height: 2px;                     /* Высота линии */
    background: blue;                /* Цвет линии */
    margin-top: 5px;                 /* Отступ сверху */
    transition: transform 0.3s;      /* Плавный переход при наведении */
    transform: scaleX(0);            /* Начальное состояние линии */
}

a:hover::after {
    transform: scaleX(1);            /* Увеличиваем линию при наведении */
}

.column{
   text-align: left;
   line-height: 1.5; /* Интервал между строками */
   max-width: 500px; /* Максимальная ширина столбца */
   font-family:Impact, fantasy;
   padding:200px 0px 0px 0px;
   margin-top:10px;
}
